body{
    background-color: rgb(47, 3, 88);
    color: white;
}
.title{
    color: #777;
}
.heading{
    color: rgb(47, 3, 88);
    font-size: larger;
}
.logo{
    width: 70px;
    height: 30px;
}
.user_icon{
    width: 80px;
    height: 80px;
}

.card img{
    max-height: 250px;
    object-fit: cover;
}
.card{
    border: 1px solid transparent;
    background-color: unset;
}

.card:hover{
    cursor: pointer;
    border: 1px solid #deb887;
}

.nav-link, .card-subtitle, .card{
    color: white;
}

.fa-circle{
    font-size: 5px;
}

.shimmer_effect, .shimmer_effect_container{
    background: linear-gradient(-45deg, #eee 40%, #fafafa 50%, #eee 60%);
   background-size: 300%;
   background-position-x: 100%;
   animation: shimmer 1s infinite linear;
}
.shimmer_effect{
    width: 25%;
    height: 30px;
}

.shimmer_effect_container{
    width: 302px;

}
.shimmer_effect_container img{
    height: 200px;
    width: 300px;
    background: linear-gradient(-45deg, #ebe7e7 40%, #fafafa 50%, #ebe7e7 60%);
   background-size: 300%;
   background-position-x: 100%;
   animation: shimmer 1s infinite linear;
}
.shimmer_effect_item{
    background: linear-gradient(-45deg, #ebe7e7 40%, #fafafa 50%, #ebe7e7 60%);
    background-size: 300%;
    background-position-x: 100%;
    animation: shimmer 1s infinite linear;
    width: 75%;
    height: 25px;
    
}

@keyframes shimmer {
   to {
      background-position-x: 0%
   }
}

.category_title{
    cursor: pointer;
}