body{
    background-color: rgb(47, 3, 88);
}
.title{
    color: #777;
}
.heading{
    color: rgb(47, 3, 88);
    font-size: larger;
}
.logo{
    width: 70px;
    height: 30px;
}
.user_icon{
    width: 80px;
    height: 80px;
}

.card img{
    max-height: 250px;
    object-fit: cover;
}
.card{
    border: 1px solid transparent;
    background-color: unset;
}

.card:hover{
    cursor: pointer;
    border: 1px solid burlywood;
}

.nav-link, .card-subtitle, .card{
    color: white;
}

.fa-circle{
    font-size: 5px;
}
